@page
@model CricketTeam.Pages.Rank.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Ranking</h1>

<p>
    <a asp-page="Create">Add Ranking Here for Each Player</a>

  

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ranking[0].Player_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking[0].Test)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking[0].ODI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking[0].T20)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ranking[0].Player_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ranking)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Player_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Test)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ODI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.T20)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Player_ID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Ranking_Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Ranking_Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Ranking_Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
